@font-face {
  font-family: tituloTipografia;
  src: url('fonts/tituloTipografia.ttf');
}
:root{
  --colorPrimario: #A3CD30;
  --degradadoFondo:rgba(12, 12, 12, 0.425)
}
html {
  margin: 0;
  padding: 0;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.inicio{
  width: 100%;
  height: 100vh;
  
}
.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
  
}

.nav-link:hover{
  background-color: var(--colorPrimario);
  border-radius: 7px;
}
.nav-link{
  padding: 4px;
  font-size: 20px;
}
.logo{
  font-family: tituloTipografia;
  color: #000;
  font-size: 100%;
  text-align: center;
  
}

.logo_Principal{
  font-family: tituloTipografia;
  font-size: 150px;
  color: var(--colorPrimario);
  
}
.descripcion{
  padding: 0 25px 0 25px;
}

.descripcion__text{
  color: #fff;
  font-size: 35px;
  text-align: justify;
}

.btn{
  font-size: 25px;
  color: #FFF;
  background-color: #4eb8028b;
  width:25%;
}
.btn:hover{
  background-color: #4eb802;
}

.tutulo__descripcion{
  font-family: tituloTipografia;
  text-align: center;
  font-size: 50px;
}
.descripcion{
  text-align: justify;
  font-size: 23px;
}